body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  outline: none;
}

h2{
  font-family: "cooper-black-std",serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  text-align: center;
}

header aside{
  background-color: #FC5456;
  color: white;
  width: 100%;
  height: auto;
}

aside h2{
  font-size: 100%;
  padding: 1%;
}

nav{
  display: flex;
  justify-content: space-around;
  background-color: #FEFBF0;
  height: 76px;
  align-items: center;
}

#menu-burger{
  display: flex;
  justify-content: center;
  width: 20%;

}

#menu{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "futura-pt-bold",sans-serif;
  font-weight: 700;
  font-style: normal;
  width: 80%;
  height: auto;
}

#menu a{
  text-decoration: none;
  margin: 3%;
  font-size: 120%;
  color: black;
}

#menu a:hover{
  color: #FC5456;
}

#search-account-bag{
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  flex-direction: row;
  width: 18%;
}

nav svg{
  cursor: pointer;
}

nav a{
  cursor: pointer;
}

#number-articles{
  font-family: "futura-pt-bold",sans-serif;
  font-weight: 700;
  font-style: normal;
  position: relative;
  bottom: 6px;
  right: 26px;
}

#image-slider{
  display: flex;
  width: 100%;
}

.image-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  color: white;
  height: 517px;
  width: 100%;
}

.image-container button{
  height: 130px;
  width: 130px;
  font-family: "futura-pt-bold",sans-serif;
  font-weight: 700;
  font-style: normal;
  border-radius: 50%;
  padding: 20px;
  margin: 3%;
  background-color: #FC5456;
  color: white;
  font-size: 60%;
  border: none;
}

.image-container button:hover{
  cursor: pointer;
  background-color: white;
  color: #FC5456;
}

#wedding{
  background-image: radial-gradient(#FFFFFF, #FF6466), url(wedding.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
}

#summer{
  display: none;
  background-image: radial-gradient(#FFFFFF, #FF6466), url(watermelon.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
}

#brief-joa{
  font-family: "futura-pt",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5% auto;
  text-align: center;
  width: 80%;
}

#favorites{
  color: #FC5456;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  width: 80%;
}

#favorites h2{
  font-size: 28px;
  width: 100%;
}

#favorites h3{
  font-family: "cooper-black-std",serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: 0;
  position: relative;
  top: 10%;
  font-size: 18px;
  margin: 5%;
}

#favorites article{
  display: flex;
  flex-direction: column;
  background-color: #FEFBF0;
  height: 280px;
  width: 200px;
  margin: 5% 2% 18%;
  box-shadow: 5px 5px 8px lightgray; 
}

#favorites article button{
  position: relative;
  top: 175px;
  left: 55px;
  background-color: #FFADAE;
  border: none;
  color: white;
  font-family: "futura-pt-bold",sans-serif;
  font-weight: 700;
  font-style: normal;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  font-size: 15px;
  box-shadow: 5px 5px 8px lightgray
}

#favorites a{
  text-decoration: none;
  color: white;
}

#product1{
  background-image: url(bague-inspiration-celtique.png);
  background-size: cover;
  background-position: 50% 20px;
}

#product2{
  background-image: url(bracelet-pandora-harrypotter.png);
  background-size: cover;
  background-position: 50% 30px;
}

#product3{
  background-image: url(montre-homme-cluse.png);
  background-size: cover;
  background-position: 80% 50%;
}

#product4{
  background-image: url(collier-guess-getlucky.png);
  background-size: cover;
  background-position: center;
}

#product5{
  background-image: url(montre-fossil-femme.png);
  background-size: cover;
  background-position: 50% 35px;
}

#product6{
  background-image: url(boucles-oreilles-coeurdelion.png);
  background-size: cover;
  background-position: 50% 30px;
}

#product7{
  background-image: url(ensemble-coeur-de-lion.png);
  background-size: cover;
  background-position: 50% 30px;
}

#product8{
  background-image: url(bague-ethnique.png);
  background-size: cover;
  background-position: 50% 25px;
}

#product9{
  background-image: url(montre-calvinklein.png);
  background-size: cover;
  background-position: 50% 50px;
}

#all-products{
  text-align: center;
  height: 130px;
  width: 130px;
  font-family: "futura-pt-bold",sans-serif;
  font-weight: 700;
  font-style: normal;
  border-radius: 50%;
  padding: 20px;
  margin: 10%;
  background-color: #FC5456;
  color: white;
  font-size: 20px;
  border: none;

}

@media (max-width: 425px){
  #favorites .big-screen{
    display: none;
  }
  #favorites article{
    margin: 15% auto;
  }
  #favorites .odd{
   position: relative;
   right: 10%;
  }
  #favorites .even{
    position: relative;
    left: 10%;
   }
   .big-screen{
    display: none;
  }
}

@media (min-width: 768px){
  aside h2{
    font-size: 150%;
  }
  #menu-burger{
    display: none;
  }
  #menu{
    justify-content: center;
    position: relative;
    left: 8%;
  }
  #menu a{
    font-size: 130%;
  }
  .image-container{
    height: 680px;
  }
  .image-container h2{
    font-size: 200%;
  }
  #favorites{
    width: 70%;
  }
  #favorites h2{
    font-size: 50px;
  }
  #favorites article{
    margin: 5% 1% 8%;
  }
}

@media (min-width: 1024px){
  #brief-joa{
    width: 50%;
    font-size: 25px;
    line-height: 33px;
  }
  #favorites{
    width: 70%;
  }
}

@media (min-width: 1025px){
  #favorites{
    width: 60%;
  }
}
