body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2{
  font-family: "cooper-black-std",serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  text-align: center;
}

header aside{
  background-color: #FC5456;
  color: white;
  width: 100%;
  height: auto;
}

aside h2{
  font-size: 100%;
  padding: 1%;
}

nav{
  display: flex;
  justify-content: space-around;
  background-color: #FEFBF0;
  height: 76px;
  align-items: center;
}

#menu-burger{
  display: flex;
  justify-content: center;
  width: 20%;

}

#menu{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "futura-pt-bold",sans-serif;
  font-weight: 700;
  font-style: normal;
  width: 80%;
  height: auto;
}

#menu a{
  text-decoration: none;
  margin: 3%;
  font-size: 120%;
  color: black;
}

#menu a:hover{
  color: #FC5456;
}

#search-account-bag{
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  flex-direction: row;
  width: 18%;
}

nav svg, a{
  cursor: pointer;
}

#number-articles{
  font-family: "futura-pt-bold",sans-serif;
  font-weight: 700;
  font-style: normal;
  position: relative;
  bottom: 6px;
  right: 26px;
}

#image-slider{
  display: flex;
  width: 100%;
}

.image-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  color: white;
  height: 517px;
  width: 100%;
}

.image-container button{
  height: 130px;
  width: 130px;
  font-family: "futura-pt-bold",sans-serif;
  font-weight: 700;
  font-style: normal;
  border-radius: 50%;
  padding: 20px;
  margin: 3%;
  background-color: #FC5456;
  color: white;
  font-size: 60%;
  border: none;
}

.image-container button:hover{
  cursor: pointer;
  background-color: white;
  color: #FC5456;
}

#wedding{
  background-image: radial-gradient(#FFFFFF, #FF6466), url(nick-karvounis-8WODX7nO2JE-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
}

#summer{
  display: none;
  background-image: radial-gradient(#FFFFFF, #FF6466), url(kreshnik-ceka-gAf-S_4a9Wg-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
}

#brief-joa{
  font-family: "futura-pt",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5% auto;
  text-align: center;
  width: 80%;
}

@media (min-width: 768px){
  aside h2{
    font-size: 150%;
  }
  #menu-burger{
    display: none;
  }
  #menu{
    justify-content: center;
    position: relative;
    left: 8%;
  }
  #menu a{
    font-size: 130%;
  }
  .image-container{
    height: 680px;
  }
  .image-container h2{
    font-size: 200%;
  }
}

@media (max-width: 767px){
  .menu-bigscreen{
    display: none;
  }
}

@media(min-width: 1024px){
  #brief-joa{
    width: 40%;
    font-size: 25px;
    line-height: 33px;
  }
}
