body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2{
  font-family: "cooper-black-std",serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  text-align: center;
}

header aside{
  background-color: #FC5456;
  color: white;
  width: 100%;
  height: auto;
}

aside h2{
  font-size: 100%;
  padding: 1%;
}

nav{
  display: flex;
  justify-content: space-around;
  background-color: #FEFBF0;
  height: 76px;
  align-items: center;
}

#menu-burger{
  display: flex;
  justify-content: center;
  width: 20%;

}

#menu{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "futura-pt-bold",sans-serif;
  font-weight: 700;
  font-style: normal;
  width: 80%;
  height: auto;
}

#menu a{
  text-decoration: none;
  margin: 3%;
  font-size: 120%;
  color: black;
}

#menu a:hover{
  color: #FC5456;
}

#search-account-bag{
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  flex-direction: row;
  width: 18%;
}

nav svg, a{
  cursor: pointer;
}

#number-articles{
  font-family: "futura-pt-bold",sans-serif;
  font-weight: 700;
  font-style: normal;
  position: relative;
  bottom: 6px;
  right: 26px;
}

#image-slider{
  display: flex;
  width: 100%;
}

.image-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  color: white;
  height: 517px;
  width: 100%;
}

.image-container button{
  height: 130px;
  width: 130px;
  font-family: "futura-pt-bold",sans-serif;
  font-weight: 700;
  font-style: normal;
  border-radius: 50%;
  padding: 20px;
  margin: 3%;
  background-color: #FC5456;
  color: white;
  font-size: 60%;
  border: none;
}

.image-container button:hover{
  cursor: pointer;
  background-color: white;
  color: #FC5456;
}

#wedding{
  background-image: radial-gradient(#FFFFFF, #FF6466), url(nick-karvounis-8WODX7nO2JE-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
}

#summer{
  display: none;
  background-image: radial-gradient(#FFFFFF, #FF6466), url(kreshnik-ceka-gAf-S_4a9Wg-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
}

#brief-joa{
  font-family: "futura-pt",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5% auto;
  text-align: center;
  width: 80%;
}

#favorites{
  color: #FC5456;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}

#favorites h2{
  font-size: 28px;
  width: 100%;
}

#favorites h3{
  font-family: "cooper-black-std",serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: 0;
  position: relative;
  top: 10%;
  font-size: 18px;
  margin: 5%;
}

#favorites article{
  display: flex;
  flex-direction: column;
  background-color: #FEFBF0;
  height: 280px;
  width: 200px;
  margin: 5% 2% 18%;
}

#favorites button{
  position: relative;
  top: 175px;
  left: 55px;
  background-color: #FFADAE;
  border: none;
  color: white;
  font-family: "futura-pt-bold",sans-serif;
  font-weight: 700;
  font-style: normal;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  font-size: 15px;

}

#favorites a{
  text-decoration: none;
  color: white;
}

#product1{
  background-image: url(Capture_d_écran_2021-01-15_à_16.36.58-removebg-preview.png);
  background-size: cover;
  background-position: 50% 20px;
}

#product2{
  background-image: url(bracelet-pandora-argent-598619c00-removebg-preview.png);
  background-size: cover;
  background-position: 50% 30px;
}

#product3{
  background-image: url(Capture_d_écran_2021-01-15_à_11.56.59-removebg-preview.png);
  background-size: cover;
  background-position: 80% 50%;
}

#product4{
  background-image: url(Capture_d_écran_2021-01-15_à_11.53.24-removebg-preview.png);
  background-size: cover;
  background-position: center;
}

#product5{
  background-image: url(Capture_d_écran_2021-01-15_à_11.30.41-removebg-preview.png);
  background-size: cover;
  background-position: 50% 35px;
}

#product6{
  background-image: url(Capture_d_écran_2021-01-15_à_11.34.46-removebg-preview.png);
  background-size: cover;
  background-position: 50% 30px;
}

#product7{
  background-image: url(Capture_d_écran_2021-01-15_à_11.38.59-removebg-preview.png);
  background-size: cover;
  background-position: 50% 30px;
}

#product8{
  background-image: url(bague-ethnique-530-15991-removebg-preview.png);
  background-size: cover;
  background-position: 50% 25px;
}

#product9{
  background-image: url(Capture_d_écran_2021-01-15_à_11.42.39-removebg-preview.png);
  background-size: cover;
  background-position: 50% 50px;
}

@media (min-width: 768px){
  aside h2{
    font-size: 150%;
  }
  #menu-burger{
    display: none;
  }
  #menu{
    justify-content: center;
    position: relative;
    left: 8%;
  }
  #menu a{
    font-size: 130%;
  }
  .image-container{
    height: 680px;
  }
  .image-container h2{
    font-size: 200%;
  }
  #favorites{
    width: 60%;
  }
  #favorites article{
    margin: 5% 2% 8%;
  }
  
}

@media (max-width: 767px){
  .big-screen{
    display: none;
  }
}

@media (max-width: 320px){
  #favorites .big-screen{
    display: none;
  }
}

@media(min-width: 1024px){
  #brief-joa{
    width: 40%;
    font-size: 25px;
    line-height: 33px;
  }
}
